# 公開日(2025年12月7日)以降の結果を記録

## 目的: 隠れ層2層以上の最適パラメータを求めるための試行

### python columnar_ed_ann_v026_multiclass_multilayer.py --train 3000 --test 1000 --epochs 30 --seed 42 --hidden 512,512 --fashion --viz --heatmap

最終結果: 訓練精度=0.6527, テスト精度=0.6530

### python columnar_ed_ann_v026_multiclass_multilayer.py --train 3000 --test 1000 --epochs 30 --seed 42 --hidden 1024,512 --fashion --viz --heatmap

最終結果: 訓練精度=0.6553, テスト精度=0.6470

### 
